/* General styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #ffffff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

/* Hover effect for navigation links */
nav ul li a:hover {
    background-color: #555;
    /* Change background color on hover */
}

section {
    display: none;
    padding: 20px;
    /* Added padding for better visibility of the background color */
}

section.active {
    display: block;
}

.dropdown {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.dropdown li {
    margin-right: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    /* Set cursor to pointer for dropdown items */
}

/* Hover effect for dropdown items */
.dropdown li:hover {
    animation: dance 0.5s ease forwards;
    /* Apply dance animation on hover */
}

@keyframes dance {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(-10deg);
    }

    75% {
        transform: rotateZ(5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#photo {
    display: none;
    width: 200px;
    height: auto;
    justify-content: center;
    margin-bottom: 10px;
}
#photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}